html,
body {
    height: 100%;
    background-color: gray;
}

.container {
    max-height: 100vh !important;
}

.computer {
    margin-top: 5px;
    height: 98vh;
}

.lose-gif {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    border: 2px solid gray;
}

.outer {
    position: relative;
}

.close-x {
    cursor: pointer;
}

.inner {
    position: relative;
    /* bottom: 35vh; */
    top: -40vh;
    z-index: 1000;
}

.missile {
    /* transform: rotate(80deg); */
    font-size: 40px;
    position: absolute;
    z-index: 500;
    /* transition: all 100s; */
    top: 0px;
    left: 0px;
    color: #2C2004;
}

.target {
    font-size: 40px;
    position: absolute;
    z-index: 1000;
    /* transition: all 100s; */
    top: 0px;
    left: 0px;
    color: #F1443B;
}

.my-center {
    margin: 0 auto;
    width: 100%;
}

.display-none {
    display: none;
}

span {
    margin-left: 8px;
}

div.panel-body.outer {
    padding: 0;
}